<div class="container form-container mt-5">
  <h2>Editar Dependente</h2>
  <form (ngSubmit)="salvar()" #diretorForm="ngForm">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" class="form-control" [(ngModel)]="dependente.nome" name="nome" required #nome="ngModel">
      <div *ngIf="nome.invalid && nome.touched" class="text-danger">
        O nome do dependente é obrigatório.
      </div>
    </div>

    <ng-container *ngIf="sexo.length > 0">
      <div class="form-group col-sm-6">
        <label for="sexo">Sexo:</label>
        <select id="sexo" class="form-control" [(ngModel)]="dependente.sexo" name="sexo" required #sexoModel="ngModel">
          <option *ngFor="let s of sexo" [value]="s">{{ s }}</option>
        </select>
        <div *ngIf="sexoModel.invalid && sexoModel.touched" class="text-danger">
          O sexo é obrigatório.
        </div>
      </div>
    </ng-container>

    <div class="form-group col-sm-6">
      <label for="dataNascimento">Data de Nascimento:</label>
      <input type="date" id="dataNascimento" class="form-control" [(ngModel)]="dependente.dataNascimento" name="dataNascimento" required #dataNascimento="ngModel">
      <div *ngIf="dataNascimento.invalid && dataNascimento.touched" class="text-danger">
        A data de nascimento é obrigatória.
      </div>
    </div>


    <div class="d-flex justify-content-end mt-3 gap-2">
      <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
      <button type="submit" class="btn btn-success" [disabled]="diretorForm.invalid">Salvar</button>
    </div>
  </form>
</div>
