<div class="container form-container mt-5">
  <h2>{{ ator.id ? 'Editar Ator' : 'Cadastrar Ator' }}</h2>
  <form (ngSubmit)="salvar()" #atorForm="ngForm">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" class="form-control input-large" [(ngModel)]="ator.nome" name="nome" required #nome="ngModel">
      <div *ngIf="nome.invalid && nome.touched" class="text-danger">
        O nome do ator é obrigatório.
      </div>
    </div>

    <!-- <div class="form-group">
      <label>Títulos</label>
      <ng-container *ngIf="titulos.length > 0">
        <div *ngFor="let titulo of titulos" class="form-check">
          <input type="checkbox" [id]="'titulo-' + titulo.id" class="form-check-input"
                 [(ngModel)]="titulo.selecionado" name="titulos"
                 (change)="toggleTitulo(titulo, $event)">
          <label [for]="'titulo-' + titulo.id" class="form-check-label">{{ titulo.nome }}</label>
        </div>
      </ng-container>
      <div *ngIf="titulos.length === 0" class="text-danger">
        Não há títulos cadastrados.
      </div>
    </div> -->

    <div class="d-flex justify-content-end mt-3 gap-2">
      <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
      <button type="submit" class="btn btn-success" [disabled]="atorForm.invalid">Salvar</button>
    </div>
  </form>
</div>
