<div class="container">
  <h2>Cadastrar Ator</h2>
  <form #atorForm="ngForm" (ngSubmit)="onSubmit(atorForm)">
    <div class="form-group">
      <label for="nome">Nome do Ator</label>
      <input type="text" id="nome" name="nome" class="form-control" required [(ngModel)]="ator.nome">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="atorForm.invalid">Cadastrar</button>
    <button type="button" class="btn btn-secondary" (click)="onCancel(atorForm)">Cancelar</button>
  </form>
</div>
