<div class="container">
  <h2>{{ ator.id ? 'Editar Ator' : 'Cadastrar Ator' }}</h2>

  <form (ngSubmit)="salvar()" #atorForm="ngForm">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" class="form-control" [(ngModel)]="ator.nome" name="nome" required #nome="ngModel">
      <div *ngIf="nome.invalid && nome.touched" class="text-danger">
        O nome do ator é obrigatório.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="atorForm.invalid">Salvar</button>
  </form>
</div>
