<div class="container">
  <h2>{{ titulo.id ? 'Editar Título' : 'Cadastrar Título' }}</h2>

  <form (ngSubmit)="salvar()" #tituloForm="ngForm">


    <div class="form-group">
      <label for="nome">Nome do Título</label>
      <input type="text" id="nome" class="form-control" [(ngModel)]="titulo.nome" name="nome" required #nome="ngModel">
      <div *ngIf="nome.invalid && nome.touched" class="text-danger">
        O nome é obrigatório.
      </div>
    </div>

    <div class="form-group">
      <label for="atores">Atores</label>
      <select multiple id="atores" class="form-control" name="atores" required>
        <option *ngFor="let ator of atores" [value]="ator">{{ ator.nome }}</option>
      </select>
    </div>


    <div class="form-group">
      <label for="diretor">Diretor</label>
      <select id="diretor" class="form-control" [(ngModel)]="titulo.diretor" name="diretor" required #diretor="ngModel">
        <option *ngFor="let diretor of diretores" [value]="diretor">{{ diretor.nome }}</option>
      </select>
      <div *ngIf="diretor.invalid && diretor.touched" class="text-danger">
        O diretor é obrigatório.
      </div>
    </div>


    <div class="form-group">
      <label for="ano">Ano de Lançamento</label>
      <input type="number" id="ano" class="form-control" [(ngModel)]="titulo.ano" name="ano" required #ano="ngModel">
      <div *ngIf="ano.invalid && ano.touched" class="text-danger">
        O ano é obrigatório.
      </div>
    </div>


    <div class="form-group">
      <label for="sinopse">Sinopse</label>
      <textarea id="sinopse" class="form-control" rows="5" [(ngModel)]="titulo.sinopse" name="sinopse" required #sinopse="ngModel"></textarea>
      <div *ngIf="sinopse.invalid && sinopse.touched" class="text-danger">
        A sinopse é obrigatória.
      </div>
    </div>


    <div class="form-group">
      <label for="categoria">Categoria</label>
      <input type="text" id="categoria" class="form-control" [(ngModel)]="titulo.categoria" name="categoria" required #categoria="ngModel">
      <div *ngIf="categoria.invalid && categoria.touched" class="text-danger">
        A categoria é obrigatória.
      </div>
    </div>

    <div class="form-group">
      <label for="classe">Classe</label>
      <select id="classe" class="form-control" [(ngModel)]="titulo.classe" name="classe" required #classe="ngModel">
        <option *ngFor="let classe of classes" [value]="classe">{{ classe.nome }}</option>
      </select>
      <div *ngIf="classe.invalid && classe.touched" class="text-danger">
        A classe é obrigatória.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="tituloForm.invalid">Salvar</button>

  </form>
</div>
