<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" href="/home">
    <img src="../../../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Locadora
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/cadastro-ator">Cadastrar Ator</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/cadastro-classe">Cadastrar Classe</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/cadastro-diretor">Cadastrar Diretor</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/cadastro-item">Cadastrar Item</a>
      </li>
    </ul>
  </div>
</nav>
