<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">
    <img src="../../../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Locadora
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="dropdown-item" href="#">Cadastrar Ator</a>
        <div class="dropdown-divider"></div>
        <app-ator></app-ator>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-item" href="#">Cadastrar Classe</a>
        <div class="dropdown-divider"></div>
        <app-classe></app-classe>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-item" href="#">Cadastrar Diretor</a>
        <div class="dropdown-divider"></div>
        <app-diretor></app-diretor>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
