<div class="d-flex flex-column min-vh-100">
  <!-- Navbar -->
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="/home">
      <img src="../../../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Locadora
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/cadastro-ator">Cadastrar Ator</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/cadastro-classe">Cadastrar Classe</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/cadastro-diretor">Cadastrar Diretor</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/cadastro-item">Cadastrar Item</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/cadastro-titulo">Cadastrar Título</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/cadastro-cliente">Cadastrar Cliente</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/efetuar-locacao">Efetuar Locacao</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/efetuar-devolucao">Efetuar Devolucao</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/tabela">Controle de Acervo</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Conteúdo da página carregado pelo Router -->
  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer class="footer bg-dark text-white mt-auto py-3 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <h5>Sobre</h5>
          <p>Projeto Desenvolvido na disciplina de Desenvolvimento Web II do professor Júlio Nardi</p>
        </div>
        <div class="col-md-4 text-center">
          <h5>Contato</h5>
          <ul class="list-unstyled">
            <li><p class="text-white">Email: gu-stavo125&#64;hotmail.com</p></li>
            <li><p class="text-white">Telefone: (27) 99999-9999</p></li>
          </ul>
        </div>
        <div class="col-md-4 text-center">
          <h5>Contato</h5>
          <ul class="list-unstyled">
            <li><p class="text-white">Email: phrezende0107&#64;gmail.com</p></li>
            <li><p class="text-white">Telefone: (21) 99999-9999</p></li>
          </ul>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-center">
          <p class="mb-0">© 2024 Locadora Passatempo - Todos os direitos reservados</p>
        </div>
      </div>
    </div>
  </footer>
</div>
