<div class="container form-container">
  <h2>{{ item.id ? 'Editar Item' : 'Cadastrar Item' }}</h2>

  <form (ngSubmit)="salvar()" #itemForm="ngForm">
    <div class="form-group">
      <label for="numeroSerie">Número de Série:</label>
      <input type="number" id="numeroSerie" class="form-control" [(ngModel)]="item.numeroSerie" name="numeroSerie" required #numeroSerie="ngModel">
      <div *ngIf="numeroSerie.invalid && numeroSerie.touched" class="text-danger">
        O número de série é obrigatório.
      </div>
    </div>
    <div class="form-group">
      <label for="titulo">Título</label>
      <div *ngIf="titulos.length === 0" class="text-danger">
        Não há títulos cadastrados.
      </div>

      <ng-container *ngIf="titulos.length > 0">
        <select id="titulo" class="form-control"
                [(ngModel)]="item.tituloId"
                name="titulo"
                required
                #titulo="ngModel">
          <option *ngFor="let titulo of titulos" [value]="titulo.id">{{ titulo.nome }}</option>
        </select>

        <div *ngIf="titulo.invalid && titulo.touched" class="text-danger">
          O título é obrigatório.
        </div>
      </ng-container>
    </div>
    <div class="form-group">
      <label for="dataAquisicao">Data de Aquisição</label>
      <input id="dataAquisicao" type="date" class="form-control" [(ngModel)]="item.dataAquisicao" name="dataAquisicao" required #dataAquisicao="ngModel">
      <div *ngIf="dataAquisicao.invalid && dataAquisicao.touched" class="text-danger">
        A data de aquisição é obrigatória.
      </div>
    </div>
    <div class="form-group">
      <label for="tipo">Tipo</label>
      <select id="tipo" class="form-control" [(ngModel)]="item.tipo" name="tipo" required #tipo="ngModel">
        <option *ngFor="let tipo of tipos" [value]="tipo">{{ tipo }}</option>
      </select>
      <div *ngIf="tipo.invalid && tipo.touched" class="text-danger">
        O tipo é obrigatório.
      </div>
    </div>

    <div class="button-group">
      <button type="submit" class="btn btn-primary" [disabled]="itemForm.invalid || !itemForm.dirty">Salvar</button>
      <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
