<div class="container">
  <h2>{{ diretor.id ? 'Editar Diretor' : 'Cadastrar Diretor' }}</h2>

  <form (ngSubmit)="salvar()" #diretorForm="ngForm">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" class="form-control" [(ngModel)]="diretor.nome" name="nome" required #nome="ngModel">
      <div *ngIf="nome.invalid && nome.touched" class="text-danger">
        O nome do diretor é obrigatório.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="diretorForm.invalid">Salvar</button>
  </form>
</div>
